table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
a, a:visited, a:hover, a:active {
    color: inherit;
}

h2 {
    font-family: arial, sans-serif;
    text-align: center;
    display: block;
    font-size: 1.5em;
    margin: 0.83em 0;
    font-weight: bold;
}